<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Kafka - Demo</title>

    <link rel="stylesheet" th:href="@{jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/site.css}"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kafka Demo</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/user-info">User Info</a></li>
            <li><a href="/account-info">Account Info</a></li>
            <li><a href="/request-log">Request Log</a></li>
            <li><a href="/bulk-payment">Bulk Payment</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Welcome to Spring Kafka demo</h3>
    <p>This demo describes how bulk-payment works</p>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="thumbnail">
                <a th:href="@{Kafka-demo-2.jpg}" target="_blank">
                    <img th:src="@{Kafka-demo-2.jpg}" style="width: 100%" class="img-responsive">
                    <div class="caption">
                        How to handle exceptions (Logic exception or runtime exception)
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="thumbnail">
                <a th:href="@{Kafka-demo.jpg}" target="_blank">
                    <img th:src="@{Kafka-demo.png}" style="width: 100%" class="img-responsive">
                    <div class="caption">
                        Infrastructure of application
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>